.shopping-card-product{
  padding: 10px;
  border-radius: 10px;
  background-color: #cbc2c2;
}
.title{
  text-align: left;
}
.price{
  text-align: right;
}
.subTitle{
  font-size: 11px;
  text-align: left;
}